= link_to 'Courses', courses_path
\|
=link_to @section.course.title, course_path(@section.course)
\|
=link_to @section.title, course_section_path(@course, @section)
\|
Edit
%p
.card
  .card-header
    %h3
      .fa.fa-tasks
      Editing section
%p
  .card-body
    = render 'form'
%p    
  .card-footer
    = link_to 'Show section', course_section_path(@course, @section)
    \|
    = link_to 'Back to course', course_path(@section.course)


