
= link_to 'Courses', courses_path
\|
=link_to @course.title, course_path(@course)
\|
New
%p
.card
  .card-header
    %h3
      .fa.fa-tasks
      New section
%p
  .card-body
    = render 'form'
%p
  .card-footer
    = link_to 'Back to course', course_path(@course)
