= link_to 'Courses', courses_path
\|
=link_to @section.course.title, course_path(@section.course)
\|
=link_to @section.title, section_path(@section)
.row 

= render 'sections/section', section: @section


\|
= link_to 'Back to course', course_path(@section.course)
