// body { background-color: red; }

.form-control.is-invalid{ background-image: none; }
.form-control.is-valid{ background-image: none; }

//footer always on the bottom
html {
    position: relative;
    min-height: 100%;
}
body {
  margin:0;
  padding:0;  
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  min-height:100vh;
}
main {
  flex:1 0 auto;
}
.footer {
    position: absolute;
    left: 0;
    bottom: 30px;
    //height: 200px;
    width: 100%;
    overflow: hidden;
    padding-bottom: 1px;
    padding-top: 1px;
}
//added this for primary buttons styling to be nicer
$mynewcolor:#174B98;
$min-contrast-ratio: 3;
.btn-primary {
    @include button-variant($mynewcolor, darken($mynewcolor, 7.5%), darken($mynewcolor, 10%), lighten($mynewcolor,5%), lighten($mynewcolor, 10%), darken($mynewcolor,30%));
}

.btn-outline-primary {
    @include button-outline-variant($mynewcolor, #222222, lighten($mynewcolor,5%), $mynewcolor);
}

