= link_to 'Courses', courses_path
\|
=link_to @course.title, course_path(@course)
%p
.row 
  .col-lg-6
    = render 'courses/course', course: @course
  .col-lg-6
    .card
      .card-header 
        %h5 Course content:
     
        %p
        - @sections.each do |section|
          = render 'sections/section', section: section
      .card-footer
      - if current_user
        - if policy(@course).edit?
          = link_to "Add section", new_course_section_path(@course, @section), class: 'btn btn-primary btn-sm btn-block p-3 mb-2 bg-gradient-primary text-white'





