- content_for :title do
  Girlveloper
  \| 
  Statistics
%h4.text-center
  New users per day
= line_chart charts_users_per_day_path
%p
%h4.text-center
  New enrollments per day
= column_chart charts_enrollments_per_day_path
%p
%h4.text-center
  Most popular courses
= bar_chart charts_course_enrollments_total_path
%p
%h4.text-center
  Biggest revenue making courses
= bar_chart charts_biggest_revenue_path